*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header {
    margin-bottom: 2rem;
}
footer {
    margin-top: 1rem;
}

header, footer {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

header img{
    width: 80px;
    height: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-compensar {
    border-radius: 10%;
}

.container-technologies-welcome{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.welcome{
    border: 2px solid #333;
    border-radius: 20px;
}

.welcome p {
    width: 800px;
    font-size: 20px;
    font-weight:inherit;
    margin: 13px;
}

.technologies{
    width: 300px;
}

.technologies p{
    background-color: #333;
    color: #fff;
}

.technologies img{
    margin: 5px;
    width: 150px;
    height: 150px;
}

.container-integrantes{
    text-align: center;
    border-top: 5px solid #333;
}

.integrantes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.container-information{
    width: 30rem;
}

.imgProfile{
    width: 35%;
    border-radius: 50%;
}

.imgProfile1{
    width: 30%;
    border-radius: 50%;
}

.imgProfile2{
    width: 30%;
    height: 150px;
    border-radius: 50%;
}

.container-details span{
    display: block;
    line-height: 1.5;
}







